<!DOCTYPE html>
<html>
<head>
  <title>Alexandrie</title>
  <%= stylesheet_link_tag    "alexandrie/application", media: "all" %>
  <%= javascript_include_tag "alexandrie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
